html, body {
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: 1/1;
}

.box > button {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.8em;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.box > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.reset-div {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.reset {
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: background-color 0.3s ease;
}

.reset:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 1em;
}

#players {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffeb3b;
    text-align: center;
    margin-top: 1em;
}

footer {
    margin-top: 5em;
    font-size: 0.8em;
    text-align: center;
    color: #888;
}

.line {
    margin-bottom: 2em;
}

.score {
    text-align: center;
}

a {
    color: #888;
}

@media (max-width: 600px) {
    .box {
        max-width: 80vw;
        max-height: 80vh;
    }

    h1 {
        font-size: 2em;
    }

    footer {
        margin-top: 2em;
    }
}
